{
  "client":{
    "name":"{{ if .Env.TUTUM_NODE_FQDN }}{{ .Env.TUTUM_NODE_FQDN }}{{ else }}{{ .Env.HOSTNAME }}{{ end }}",
    "address":"{{ if .Env.TUTUM_IP_ADDRESS }}{{ .Env.TUTUM_IP_ADDRESS }}{{ else }}{{ .Env.HOSTNAME }}{{ end }}",
    "subscriptions":[
      "all"{{if .Env.SUBSCRIPTIONS}}{{$subscriptions := split .Env.SUBSCRIPTIONS ","}}{{ range $subscription := $subscriptions }},"{{ $subscription }}"{{end}}{{end}}
    ]
  },
  "rabbitmq":{
    "host":"{{ .Env.RABBITMQ_PORT_5672_TCP_ADDR }}",
    "user":"{{ .Env.RABBITMQ_ENV_RABBITMQ_USER }}",
    "password":"{{ .Env.RABBITMQ_ENV_RABBITMQ_PASS }}"
  }
}
