{
  "client":{
    "name":"{{ if .Env.DOCKERCLOUD_NODE_HOSTNAME }}{{ .Env.DOCKERCLOUD_NODE_HOSTNAME }}{{ else }}{{ .Env.HOSTNAME }}{{ end }}",
    "address":"{{ if .Env.DOCKERCLOUD_IP_ADDRESS }}{{ .Env.DOCKERCLOUD_IP_ADDRESS }}{{ else }}{{ .Env.HOSTNAME }}{{ end }}",
    "subscriptions":[
      {{if .Env.SUBSCRIPTIONS}}{{$subscriptions := split .Env.SUBSCRIPTIONS ","}}{{ range $subscription := $subscriptions }},"{{ $subscription }}"{{end}}{{ else }}"all"{{end}}
    ]
  },
  "rabbitmq":{
    "host":"{{ .Env.RABBITMQ_PORT_5672_TCP_ADDR }}",
    "user":"{{ .Env.RABBITMQ_ENV_RABBITMQ_USER }}",
    "password":"{{ .Env.RABBITMQ_ENV_RABBITMQ_PASS }}"
  }
}
